@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

* {
  font-family: "Kaisei Tokumin", serif;
  background-color: #f8f8f8;
  margin: 0;
}

p {
  font-size: 30px;
}

.navi {
  margin: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.back_btn_text {
  font-size: 30px;
}

.change_page {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
}
.cp_app{
  margin: 0px 50px 0px 50px;
}

.cp_about {
  margin: 0px 0px 0px 50px;
}

.cp_vision {
  margin: 0px 50px 0px 50px;
}

.cp_contact {
  margin: 0px 0px 0px 50px;
}

.main{
    display: flex;
    align-items: center;
    margin: 70px 0px 0px 0px;

}

.main_img{
  padding: 100px 150px;
  position: relative;
}

.main_text{
    padding: 0px 10px 0px 0px;
    font-weight: 100;
    font-size: 72px;
    position: absolute;
    background-color: none;
}